@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/notosans/v27/o-0IIpQlx3QUlC5A4PNjgfk_vArhqVIZ0nv9qGm8.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/notosans/v27/o-0IIpQlx3QUlC5A4PNjgefwvArhqVIZ0nv9qGm8.ttf') format('truetype');
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/plusjakartasans/v6/pxiByp8kv8JHgFVrJJfedwpa920QFgZ8bMmu.ttf') format('truetype');
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/plusjakartasans/v6/pxiByp8kv8JHgFVrJJfedwpa920oFwZ8bMmu.ttf') format('truetype');
}

body {
  font-family: 'Noto Sans', 'Plus Jakarta Sans', sans-serif;
}


.slider-container {
  position: relative;
  overflow: hidden;
  height: 80%;
}
#play-on-hover-card{
  background-image: url ('')
}
#slider {
  display: flex;
  flex-direction: column;
  animation: slide 120s linear infinite;
}

.slider-item {
  height: 24px;
  opacity: 1;
}

@keyframes slide {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
  0% {
    transform: translateY(0%);
  }
}

