---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Endings">
  <div class="text-center mb-12">
    <h1 class="text-4xl md:text-6xl font-bold mb-4">
      Vote for <span
        class="text-transparent bg-clip-text bg-gradient-to-r from-accent via-accent-light to-white"
        >Endings</span
      >
    </h1>
    <p class="text-lg md:text-xl text-accent-light">Test...</p>
  </div>
</Layout>
